#classes,#users{
	width:800px;
	margin: 0 auto;
}
.nav-admin{
  width:100%;
  z-index: 5;
  height: 60px;
  // background-color: #232323;
  // .tab-links{
  //   width: 46%;
  //   margin : 0 auto;
  //   // float:right;
  // }
  .tabs{
    height: 60px;
    cursor: pointer;
    font-family: 'Patua One', cursive;
    background-color : #232323;
    li.tab{
      background-color: #232323;
      line-height: 54px;
      a{
        text-decoration: none;

      }

    }
  }
}
.modal-content form{
  .input__field{
    color: black;
  }
}