.items{
    margin: 0 auto;
    position: relative;
    width: 400px;
}
.message{
    width:100px;
    position:relative;
    float:left;
}
.stream{
    .item{
        height:40px;
    }
    .input__field--hoshi,.mat_input span{
        color:black;
    }
}
