.stream{
    height: 100%;
    overflow-y: auto;
    position: relative;
    .card{
    	width: 400px;
    	background-color: yellow;
    	// top: 19px;
		margin: 20px;
		float: left;
		height: 213px;
		.input__field--hoshi {
			color: black;
		}
		botton{
			margin-left: 140px;
		}
    }
	.additem{
		height: 145px;
	}
}