// shared styles
$button-height : 3em;
$button-line-height : 4px;
$button-font-size-shared : 70.25%;
$button-bg-color-disabled : #00e7b4;
$button-color-disabled : white;
$button-color-raised : white;
$button-color : #00e7b4;//#26a69a;

.btn, .btn-flat {
  display: inline-block;
  height: $button-height;
  margin-bottom: 15px;
  padding: 0 2rem;
  @include border-radius(2px);
  line-height: $button-line-height;
  text-transform: uppercase;
  border: none;
  outline: 0;
  // Gets rid of tap active state
  -webkit-tap-highlight-color: transparent;
}
// Disabled shared style
.btn.disabled, .btn-floating.disabled, .btn-large.disabled, .btn:disabled, .btn-large:disabled, .btn-floating:disabled {
  background-color: $button-bg-color-disabled;
  box-shadow: none;
  color: $button-color-disabled;
  cursor: default;

  &:hover {
    background-color: $button-bg-color-disabled;
    color: $button-color-disabled;
  }
}
// Shared icon styles
.btn, .btn-floating, .btn-large, .btn-flat {
  i {
    font-size: $button-font-size-shared;
    line-height: inherit;
  }
}

// Raised Button
.btn {
  text-decoration:none;
  color: $button-color-raised;
  background-color: $button-color;
  text-align: center;
  letter-spacing: .5px;
  @extend .z-depth-1;
  @include transition(.2s ease-out);
  cursor: pointer;

  &:hover {
    background-color: lighten($button-color, 5%);
    @extend .z-depth-1-half;
  }
}