@font-face {
	font-family: 'Droid Arabic Naskh';
	font-style: normal;
	font-weight: 400;
	src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v6/DroidNaskh-Regular.eot);
	src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v6/DroidNaskh-Regular.eot?#iefix) format("embedded-opentype"), url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v6/DroidNaskh-Regular.woff2) format("woff2"), url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v6/DroidNaskh-Regular.woff) format("woff"), url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v6/DroidNaskh-Regular.ttf) format("truetype");
}