<div class="manage">
  <div class="part">
    class manager
  </div>
  <table class="striped centered">
    <thead>
      <tr>
          <th data-field="className">Class Name</th>
          <th data-field="studentsCount">Count</th>
          <th data-field="startDate">Start Date</th>
          <th data-field="teacherId">Teacher Name</th>
          <th data-field="studentsIds">Students</th>
          <th data-field="studentsIds">edit</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat='class in classes'>
        <td>{{class.className}}</td>
        <td>{{class.studentsCount}}</td>
        <td>{{class.startDate}}</td>
        <td>{{class.teacherId.userName}}</td>
        <td>
          <div ng-repeat='user in class.studentsIds'>{{user.userName}}</div>
        </td>
        <td>
          <a class="btn btn-large waves-effect waves-light modal-trigger" href="#modal1" ng-click='editClass(class)'>
            edit
          </a>
          <div class="btn btn-large waves-effect waves-light modal-trigger" href="#modal2" ng-click='editClass(class)' >
            delete
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div id="modal1" class="modal">
  <div class="modal-content">
    <form >
      <span class="input input--hoshi ">
        <input  type="text" ng-model="classModal.className" class="input__field input__field--hoshi" autocomplete=off required>
        <label class="mat_input mat_input--hoshi" for="input-1">
            <span class="mat_input-content mat_input-content--hoshi">Class Name</span>
          </label>
      </span>
      <span class="input input--hoshi ">
        <input  type="text" ng-model="classModal.startDate" class="input__field input__field--hoshi" required>
          <label class="mat_input mat_input--hoshi" for="input-1">
            <span class="mat_input-content mat_input-content--hoshi">Start Date</span>
          </label>
      </span>
      <span class="input input--hoshi ">
        <input  type="text" ng-model="classModal.studentsCount" class="input__field input__field--hoshi" required>
          <label class="mat_input mat_input--hoshi" for="input-1">
            <span class="mat_input-content mat_input-content--hoshi">studentsCount</span>
          </label>
      </span>



      <button class="modal-action modal-close btn waves-effect waves-light" type="submit" name="action" ng-disabled="classForm.$invalid" ng-click="edit()">
        login
      </button>
    </form>
  </div>
</div>
  
<div id="modal2" class="modal">
  <div class="modal-content">
    <p>Are you sure you want to delete?</p>
      <button class="modal-action modal-close btn waves-effect waves-light" type="submit" name="action"  ng-click="deleteClass(classModal)">
        login
      </button>
  </div>
<!--  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div> -->
</div>


<div class="manage">
  <div class="part">
    user manager
  </div>
  <table class="striped centered">
    <thead>
      <tr>
          <th data-field="userName">User Name</th>
          <th data-field="type">Type</th>
          <th data-field="email">Email</th>
          <th data-field="classIds">Class Name</th>
          <th data-field="studentsIds">edit</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat='user in users'>
        <td>{{user.userName}}</td>
        <td>{{user.type}}</td>
        <td>{{user.email}}</td>
        <td>{{user.classIds.className}}</td>
        <td>
          <div ng-repeat='class in user.classIds'>{{class.className}}</div>
        </td>
        <td>
          <a class="btn btn-large waves-effect waves-light modal-trigger" href="#modal3" ng-click='editUser(user)'>
            edit
          </a>
          <div class="btn btn-large waves-effect waves-light red">
            delete
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div id="modal3" class="modal">
  <div class="modal-content">
    <form >
      <span class="input input--hoshi ">
        <input  type="text" ng-model="userModal.userName" class="input__field input__field--hoshi" autocomplete=off required>
        <label class="mat_input mat_input--hoshi" for="input-1">
            <span class="mat_input-content mat_input-content--hoshi">User Name</span>
          </label>
      </span>
      <span class="input input--hoshi ">
        <input  type="text" ng-model="userModal.type" class="input__field input__field--hoshi" required>
          <label class="mat_input mat_input--hoshi" for="input-1">
            <span class="mat_input-content mat_input-content--hoshi">Type</span>
          </label>
      </span>
      <button class="modal-action modal-close btn waves-effect waves-light" type="submit" name="action" ng-disabled="classForm.$invalid" ng-click="change()">
        login
      </button>
    </form>
  </div>
<!--  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div> -->
</div>
<!-- <ui-select ng-model="person.selected" theme="select2" ng-disabled="disabled" style="min-width: 300px;">
    <ui-select-match placeholder="Select a person in the list or search his name/age...">{{$select.selected.name}}</ui-select-match>
    <ui-select-choices repeat="person in people | propsFilter: {name: $select.search, age: $select.search}">
      <div ng-bind-html="person.name | highlight: $select.search"></div>
      <small>
        email: {{person.email}}
        age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
      </small>
    </ui-select-choices>
</ui-select> -->
