<main class="cd-main-content">
      <div class="cd-fixed-bg cd-bg-1">
            <form name="loginForm"
            ng-submit="login(loginInput)" class="loginForm" novalidate>
                  <div class="blur"></div>
                  <span class="input input--hoshi ">
                        <input  type="text" name="email" ng-model="loginInput.email" class="input__field input__field--hoshi" autocomplete=off required>
                        <label class="mat_input mat_input--hoshi" for="input-1">
                  <span class="mat_input-content mat_input-content--hoshi">Email</span>
                        </label>
                  </span>
                  <span class="input input--hoshi ">
                        <input  type="password" name="password" ng-model="loginInput.password" class="input__field input__field--hoshi" required>
                        <label class="mat_input mat_input--hoshi" for="input-1">
                              <span class="mat_input-content mat_input-content--hoshi">Password</span>
                        </label>
                  </span>
                  <button type="submit" ng-disabled="loginForm.$invalid">
                        login
                  </button>
            </form>
      </div> 
      <div class="cd-scrolling-bg cd-color-1">
            <div class="cd-container">
                  <p>Some cool features!</p>     
            </div> 
      </div>  
      <div class="cd-fixed-bg cd-bg-2">
            <h2>messages!</h2>
      </div>
      <div class="cd-scrolling-bg cd-color-2">
            <div class="cd-container">
                  <p>lalalalla</p>     
            </div> 
      </div>       
</main>
