<div class='user'>
    <div class="navbar">
        <div class="profile">
            <div class="user-image">
                <img src="{{user.imageUrl}}" ng-if='user.imageUrl'></img>
            </div>
            <div class="user-name">{{user.userName}}</div>
        </div>
        <div class="navigation">
            <button ng-click="changeState('words')" class="word">
                <div class="section">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;"xml:space="preserve">
                        <g>
                            <g>
                                <g>
                                    <path style="fill:#090509;" d="M14,2h-1V1c0-0.552-0.448-1-1-1H2C1.448,0,1,0.448,1,1v12c0,0.552,0.448,1,1,1h1v1
                                    c0,0.552,0.448,1,1,1h10c0.552,0,1-0.448,1-1V3C15,2.448,14.552,2,14,2z M2,13V1h10v12H2z M14,15H4v-1h8c0.552,0,1-0.448,1-1V3h1
                                    V15z"/>
                                    <path style="fill:#090509;" d="M10.5,3h-5C5.224,3,5,3.224,5,3.5S5.224,4,5.5,4h5C10.775,4,11,3.776,11,3.5S10.775,3,10.5,3z"/>
                                    <path style="fill:#090509;" d="M10.5,6h-7C3.224,6,3,6.224,3,6.5S3.224,7,3.5,7h7C10.775,7,11,6.776,11,6.5S10.775,6,10.5,6z"/>
                                    <path style="fill:#090509;" d="M10.5,8h-7C3.224,8,3,8.224,3,8.5C3,8.775,3.224,9,3.5,9h7C10.775,9,11,8.775,11,8.5
                                        C11,8.224,10.775,8,10.5,8z"/>
                                    <path style="fill:#090509;" d="M10.5,10h-7C3.224,10,3,10.225,3,10.5S3.224,11,3.5,11h7c0.275,0,0.5-0.225,0.5-0.5
                                        S10.775,10,10.5,10z"/>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
            </button>
            <button ng-click="changeState('stream')" class="stream">
                <div class="section">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 486.988 486.988" style="enable-background:new 0 0 486.988 486.988;" xml:space="preserve">
                        <g>
                            <g>
                                <path d="M16.822,284.968h39.667v158.667c0,9.35,7.65,17,17,17h116.167c9.35,0,17-7.65,17-17V327.468h70.833v116.167
                                c0,9.35,7.65,17,17,17h110.5c9.35,0,17-7.65,17-17V284.968h48.167c6.8,0,13.033-4.25,15.583-10.483
                                c2.55-6.233,1.133-13.6-3.683-18.417L260.489,31.385c-6.517-6.517-17.283-6.8-23.8-0.283L5.206,255.785
                                c-5.1,4.817-6.517,12.183-3.967,18.7C3.789,281.001,10.022,284.968,16.822,284.968z M248.022,67.368l181.333,183.6h-24.367
                                c-9.35,0-17,7.65-17,17v158.667h-76.5V310.468c0-9.35-7.65-17-17-17H189.656c-9.35,0-17,7.65-17,17v116.167H90.489V267.968
                                c0-9.35-7.65-17-17-17H58.756L248.022,67.368z"/>
                            </g>
                        </g>
                    </svg>
                </div>
            </button>
        </div>
    </div>
    <div class="sidebar">
        <div class="navigation">

            <div class="section">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 314.014 314.013" xml:space="preserve">
                    <g>
                    	<g id="_x37_3._Messages">
                    		<g>
                    			<path d="M282.611,121.828H266.91v31.492h15.701v78.374H141.306v-31.362h-31.4v31.454c0,17.341,14.061,31.402,31.4,31.402h15.701
                    				v31.347c0,8.672,4.216,10.082,9.413,3.138l25.876-34.492h90.315c17.345,0,31.402-14.059,31.402-31.402v-78.542
                    				C314.014,135.888,299.956,121.828,282.611,121.828z M251.213,153.228V43.325c0-17.342-14.062-31.395-31.401-31.395H31.402
                    				C14.06,11.93,0,25.982,0,43.325v109.903c0,17.349,14.06,31.402,31.402,31.402h15.699v47.104c0,8.668,4.218,10.078,9.416,3.134
                    				l37.68-50.237h125.615C237.151,184.63,251.213,170.577,251.213,153.228z M31.402,153.236V43.325h188.41v109.912H31.402z"/>
                    		</g>
                    	</g>
                    </g>
                </svg>
            </div>
        </div>
        <div class="chatbox">
            <div class="friend" ng-repeat='friend in friends' ng-click='startChat(friend)'>
                <div class="user-image">
                    <img src='{{friend.imageUrl}}'></img>
                    <div class="user-shadow"></div>
                </div>
                <div class="user-name">
                    {{friend.userName}}
                </div>
                <div class="history">

                </div>
                <!-- <div class="last-act">
                    98
                </div> -->
            </div>
        </div>
    </div>
    <div ui-view class="main"></div>
    <div class="chats">
        <div class="box" ng-repeat='chat in chats'>
            <div class="bar">

            </div>
            <div ng-repeat='message in chat.messages' class="messages">
                    <div class="user-image">
                        <img src="https://secure.gravatar.com/avatar/ee23849618501d676a8516cbcfa7651a?s=50&r=pg&d=identicon" alt="" />
                    </div>
                    <div class="text">
                        {{message.text}}
                    </div>
            </div>
            <form ng-init='field =""'>
              <input type="text" ng-model="field" required>
              <button type="submit" ng-click="sendMessage(field,chat.to._id)">
                send
              </button>
            </form>
            <!-- <textarea class="" type="text" name="message" value=""></textarea> -->
        </div>
    </div>
<div>
